Package         Version  
--------------- ---------
aiodns          1.2.0    
aiohttp         3.6.1    
asn1crypto      1.0.1    
async-timeout   3.0.1    
asyncio         3.4.3    
attrs           19.2.0   
bcrypt          3.1.7    
cchardet        2.1.4    
certifi         2019.9.11
cffi            1.12.3   
chardet         3.0.4    
Click           7.0      
colorama        0.4.1    
cryptography    2.7      
daiquiri        1.5.0    
docopt          0.6.2    
idna            2.8      
jedi            0.14.0   
lxml            4.4.1    
multidict       4.5.2    
paramiko        2.6.0    
parso           0.5.0    
pendulum        2.0.4    
pip             19.2.3   
prompt-toolkit  2.0.9    
ptpython        2.0.4    
pycares         2.4.0    
pycparser       2.19     
Pygments        2.4.2    
PyNaCl          1.3.0    
pyOpenSSL       19.0.0   
PySocks         1.7.1    
python-dateutil 2.7.5    
pytzdata        2018.7   
requests        2.22.0   
setuptools      41.4.0   
six             1.12.0   
SQLAlchemy      1.3.9    
typing          3.6.6    
urllib3         1.24.2   
wcwidth         0.1.7    
wheel           0.33.6   
yarl            1.3.0    
